.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  padding: 2em 0;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.info > span::after {
  content: '|';
  padding: 0 0.3em;
}

.info > span:last-child::after {
  content: '';
}

.copyright {
  margin-top: 0.5em;
}
