:root {
  /* Color */
  --color-primary: #122e96;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow: #f1c40f;
  --color-green: #2ecc71;
  --color-text: #333333;
  /* Size */
  --border-radius: 8px;
}

.App {
  margin-top: 70px;
}
